@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Serif Pro", serif;
  background-color: #f8f2f2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}
